
body 	{font-family: Verdana, sans-serif;
	 	 line-height: 140%;
	 	 font-size: 90%;
	 	 margin: 0px;
		 background-color: #fff;} 
 

#allcontent {width: 1024px;
		     margin: 0 auto;
		     background-color: #fff;	
		     padding-top: 0px;
		     padding-bottom: 0px;
		     color: #000;}  
		     
			
h1 			{font-size: 105%;
			 font-weight: medium;
			 color: #777;}    

h2 			{font-size: 95%;
			 font-weight: bold;}

h3 			{font-size: 80%;
    		 text-align: center;
    		 line-height: 145%;}
    
h4 			{text-decoration: underline;}    


a:link 		{text-decoration: underline;
			 color: #777;}
			 
a:visited 	{text-decoration: underline;
	   		 color: #e8068a;}			 

a:hover 	{text-decoration: underline;
	 		 color: #000;}
	 		 
a:active	{text-decoration: underline;
	   		 color: #29aae2;}	
	   		  		  		 
	         					 					 											 										      	            				 
#header			{width: 1024px;
				 padding: 0px;
				 margin: 0px;}
				 

#menubalk		{padding: 0px 0px 0px 10px;
				 margin: 0px;	
				 border-top: 2px solid #d7d7d7;
				 border-bottom: 2px solid #d7d7d7;
				 background-color: #fff;
				 text-align: center;}	     					 
					 
#menubalk li	{list-style-type: none;
				 padding: 10px 10px 10px 0px;
				 margin: 10px 20px 10px 0px;
				 display: inline;
				 text-transform: uppercase;}	
				 
				 
				 
img 			{max-width: 100%;} 				 
				 			 			 				 						 					 
				 					 
#introtekst			{padding: 20px;
					 margin: 20px;
					 text-align: left;
					 background-image: url("homepage/bg-introtekst.png");
					 background-repeat: no-repeat;
					 background-position: center;
					 height: 250px;}	
					 
#homepage			{
					text-align: center;}
					

#homepage img		{
					margin: 10px;}
						

.column1, .column2, .column3	{
								width: 30%;
								float: left;
								margin: 10px;}				 		 
				 				 									 					 					 
						  
#vaardigheden		 	 {padding: 0px 20px 20px 40px;
						  margin: 30px 10px 0px 10px;
						  width: 450px;
						  float: left;
						  background-color: #fff;
						  color: #000;}	
									  
						  
						  
#werkwijze		 	 	{padding: 0px 20px 20px 40px;
						 margin: 30px 10px 0px 10px;
						 width: 700px;
						 float: left;
						 background-color: #fff;
						 color: #000;}						  
						  

#diensten				{padding: 0px 0px 0px 20px;
					 	 margin: 50px 20px 0px 200px;
						 text-align: left;}
						 
#introductie			{padding: 0px 0px 0px 20px;
					 	 margin: 50px 20px 0px 200px;
						 text-align: left;
						  width: 600px;}						 						 					 

						  
#fotovanmij			 	 {padding: 0px 20px 20px 40px;
						  margin: 30px 10px 0px 10px;
						  width: 350px;
						  float: left;
						  background-color: #fff;
						  color: #000;}							 
						 
						 
						 							  			
#overmij				{padding: 0px 10px 10px 30px;
						 margin: 45px 10px 10px 430px;
						 text-align: left;}						  			
						  					  
						  
#thumbnails				{padding: 0px 10px 10px 30px;
						 margin: 30px 10px 10px 430px;
						 text-align: right;}
						 
					 						  
						  
#portfolio		 	 	{padding: 20px;
						  margin: 25px;
						  text-align: center;
						  clear: both;}	

p.portfoliotekst		 {padding: 0px 100px;
						  margin: 10px 30px;
						  width: 670px;
						  text-align: left;}
						  
											  						  
		  							  						  					  							  	
img.floatleft			{float: left;
						 margin: 10px 40px 20px 0px;}	
						 
						 
img.floatright			{float: right;
						 margin: 10px 0px 20px 40px;}	
									 					 		  			  	
				  
#kolomlinks		 		 {float: left;
						  width: 350px;}	
						  				 				 
				 
#kolomrechts			{padding: 5px 10px 10px 10px;
						 margin: 10px 20px 20px 350px;}
						 
						 
#contactkolomrechts		{float: right;
						 width: 200px;
					     padding: 20px;
					     margin: 40px 20px 0px 0px;
					     text-align: right;
					     color: #000;
					     background-color: #75bfaa;} 
					     
#contactkolomrechts li		{list-style-type: none;}						     
				 
#contactkolomlinks		 {padding: 20px;
						  margin: 25px 260px 10px 30px;
						  text-align: left;
						  color: #000;}	
				 
	
						 
#bedanktcontactform		{color: #000;
						 padding: 20px 20px 0px 20px;
						 margin: 30px 30px 0px 30px;
						 text-align: center;}	
						 
#websitecheck		 	 {padding: 0px 20px 20px 40px;
						  margin: 30px 10px 0px 10px;
						  background-color: #fff;
						  color: #000;}							 					 					 		

table th			{text-align: left;
					 padding: 0px 20px 5px 0px;
					 font-weight: normal;}	

table td			{text-align: left;
					 padding: 0px 0px 5px 0px;}		
				
				 
#wrapperfooter	{clear: both;
				 font-size: 90%;	         	
	     		 color: #000;
	     		 background-color: #fff;
	     		 padding: 20px;
	     		 border-top: 3px solid #d7d7d7;}
         		 
#wrapperfooter	a:hover	{text-decoration: none;
	   		 		 	 color: #ef4036;}
         		 
#socialmedia	{float: left;
				 margin: 0px 100px 0px 30px;}         		 
         		 
#contact 		{text-align: right;
				 margin: 0px 80px 0px 240px;}         		 

				 
 		 

	   			 

       		 



	   

	      
	      
	     

	      		     
		     
		     




		     
		     
		     
