<footer class="site-footer">

    <div id="socialmedia">
  
      <a href="http://pinterest.com/schildertuin/" target="nieuwvenster" title="Hilde Reurink op Pinterest"><img src="/wordpress/img/pinnen.png"  
      alt="Pinterest icoontje"/></a>
      <a href="http://nl.linkedin.com/in/hildereurink" target="nieuwvenster" title="LinkedIn profiel Hilde Reurink"><img src="/wordpress/img/linkedin.png" 
      alt="LinkedIn icoontje"/></a>
      <a href="http://www.twitter.com/schildertuin" target="nieuwvenster" title="Twitter profiel Hilde Reurink"><img src="/wordpress/img/twitter.png" 
      alt="Twitter icoontje"/></a>
      <a href="http://www.facebook.com/schildertuin" target="nieuwvenster" title="Facebookpagina Hilde Reurink"><img src="/wordpress/img/facebook.png" 
      alt="Facebook icoontje"/></a>
      
    </div>
      

    <div id="contact">
      <p>
      Hilde Reurink / T: 06-10224946 / <a href="/wordpress/contact/" title="mail of klik voor het contactformulier"><img src="/wordpress/img/mailadres.png" alt="" border="0" style=" padding-bottom: 8px; "/>
      </a><br />
      &copy; 2007-2015, Hilde Reurink
      </p>   
    </div>

</footer>
