
<header id="allcontent">
                <div id="header">
                
                        <img src="/wordpress/img/header-weblog.jpg" alt="logo Hilde Reurink, illustratie en ontwerp" border="0"/>
                        
                </div>
                
                

                <div id="menubalk">
                
                        <ul>
                                <li><a href="illustraties.html" title="illustraties voor boeken, websites, wenskaarten">illustratie</a></li>
                                <li><a href="ontwerpen.html" title="ontwerp van logo's, dessinontwerp, grafisch ontwerp">ontwerp</a></li>
                                <li><a href="wenskaarten.html" title="geboortekaarten, trouwkaarten, verhuiskaarten">wenskaarten</a></li>
                                <li><a href="introductie.html" title="wie is Hilde Reurink">Over mij</a></li>
                                <li><a href="contactformulier.php" title="contactgegevens">Contact</a></li>     
                        </ul>
                        
                </div>
        
 </header>
