
<header class="site-header">
                
                <div id="header">
                        <a href="/wordpress/"><img src="/wordpress/img/header-weblog.jpg" alt="logo Hilde Reurink, illustratie en ontwerp" border="0"/></a>
                </div>
                
                

                <nav class="site-nav">
                
                        <ul>
                                <li><a href="/wordpress/illustraties/" title="illustraties voor boeken, websites, wenskaarten">illustratie</a></li>
                                <li><a href="/wordpress/ontwerp/" title="ontwerp van logo's, dessinontwerp, grafisch ontwerp">ontwerp</a></li>
                                <li><a href="/wordpress/wenskaarten/" title="geboortekaarten, trouwkaarten, verhuiskaarten">wenskaarten</a></li>
                                <li><a href="/wordpress/overmij/" title="wie is Hilde Reurink">Over&nbsp;mij</a></li>
                                <li><a href="/wordpress/contact/" title="contactgegevens">Contact</a></li>     
                        </ul>
                        
                </nav>
        
 </header>
